@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 219, 73%, 33%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 219, 73%, 33%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --principal-light: #174191;
    --principal-dark: #e2a300;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 100%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 219, 73%, 33%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

* {
  box-sizing: border-box;
}

/* html,
body {
  padding: 0;
  background-color: #f7f9ff;
  color: rgb(75 85 99);
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.center {
  height: 40vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.success .next {
  background-color: rgb(59 130 246);
  font-weight: bolder;
}

.my-link {
  text-decoration: underline;
}

.my-link:hover {
  color: #db2323;
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 768px) {
  .parent:hover .child {
    opacity: 1;
    height: auto;
    overflow: none;
    transform: translateY(0);
  }

  .child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
  }

  nav {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .center {
    height: 90vh;
  }
}

.navbarlinkHover {
  @apply rounded-lg p-2 text-principal-light hover:bg-principal-light hover:text-text-dark dark:text-text-dark dark:hover:bg-principal-dark dark:hover:text-bg-dark;
}
:hover.degrade-border {
  border-bottom-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, blue, white 50%, red);
  border-image-slice: 1;
}

h1 {
  @apply text-4xl font-bold text-principal-light dark:text-principal-dark;
}

h2 {
  @apply text-2xl font-bold text-principal-light dark:text-principal-dark;
}

p {
  @apply mx-auto text-base;
}
