/* styles/MuseumTable.module.css */
.tableContainer {
  overflow-x: auto;
}

.resizer {
  display: inline-block;
  background: #ddd;
  width: 3px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action: none;
}

.resizer.isResizing {
  background: #aaa;
}

.evenRow {
  background-color: #f2f2f2; /* Light gray for even rows */
}

.oddRow {
  background-color: #ffffff; /* White for odd rows */
}
