@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* html,
body {
  padding: 0;
  background-color: #f7f9ff;
  color: rgb(75 85 99);
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.center {
  height: 40vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.success .next {
  background-color: rgb(59 130 246);
  font-weight: bolder;
}

.my-link {
  text-decoration: underline;
}

.my-link:hover {
  color: #db2323;
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 768px) {
  .parent:hover .child {
    opacity: 1;
    height: auto;
    overflow: none;
    transform: translateY(0);
  }

  .child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
  }

  nav {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .center {
    height: 90vh;
  }
}
