@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #F7F9FF;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   /* background-color: black;
    color: white;*/
}

nav {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
}



.center {
    height: 40vh;
    display: grid;
    place-items: center;
    text-align: center;
}

@media (min-width: 768px) {
    .center {
        height: 90vh;
    }
}

.loading {
    margin: 40vh auto;
}

.btn {
    @apply bg-gray-800 hover:bg-gray-900 active:bg-green-600 text-gray-100 font-medium px-7 py-1.5 rounded;
}

@media only screen and (min-width: 768px) {
    .parent:hover .child {
        opacity: 1;
        height: auto;
        overflow: none;
        transform: translateY(0);
    }

    .child {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transform: translateY(-10%);
    }
}

.hideMenuNav {
    display: none;
}
.showMenuNav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.showSubMenu {
    display: block;
    width: 100%;
    height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

